<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RobotControlWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GPS</display-name>
    <servlet-name>GPS</servlet-name>
    <servlet-class>GPS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPS</servlet-name>
    <url-pattern>/GPS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Robot</display-name>
    <servlet-name>Robot</servlet-name>
    <servlet-class>Robot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Robot</servlet-name>
    <url-pattern>/Robot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Output</display-name>
    <servlet-name>Output</servlet-name>
    <servlet-class>Output</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Output</servlet-name>
    <url-pattern>/Output</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RobotControl</display-name>
    <servlet-name>RobotControl</servlet-name>
    <servlet-class>RobotControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RobotControl</servlet-name>
    <url-pattern>/RobotControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This servlet acts as a webservice and controls the robot by providing the guidance</description>
    <display-name>RobotController</display-name>
    <servlet-name>RobotController</servlet-name>
    <servlet-class>webservice.RobotController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RobotController</servlet-name>
    <url-pattern>/RobotController</url-pattern>
  </servlet-mapping>
</web-app>